.container {
    height: 100%;
    width: 20%;
}

.item-link {
    margin-top: 5%;
    border-bottom: 1px solid rgb(238, 229, 229); ;
  }
.margin {
    margin-left: 10%;
}
.content {
    height: 100%;
}